<div class="login">
  <div class="container">
    <div class="login-inner flex justify-center items-center">
      <form [formGroup]="loginForm" class="w-[320px] flex flex-col gap-4">
        <button class="w-full h-11 border border-black">Continue with Google</button>

        <p class="my-4">or</p>

        <li>
          <label>Email:</label>
          <input type="text" class="w-full h-11 border border-black bg-transparent" formControlName="email">
          <ng-container *ngIf="loginForm.get('email')?.touched">
            <div class="inputErrorMessage" *ngIf="loginForm.get('email')?.errors?.['required']">Required</div>
            <div class="inputErrorMessage" *ngIf="loginForm.get('email')?.errors?.['email']">Email is invalid</div>
          </ng-container>
        </li>
        <li>
          <label>Password:</label>
          <input [type]="inputType" class="w-full h-11 border border-black bg-transparent" formControlName="password">
          <div class="showingpass flex gap-4">
            <p (click)="showPassword()" class="cursor-pointer">Show password! <fa-icon [icon]="inputType === 'password'? faEye : faEyeSlash"></fa-icon></p>
          </div>

          <ng-container *ngIf="loginForm.get('password')?.touched">
            <div class="inputErrorMessage" *ngIf="loginForm.get('password')?.errors?.['required']">Required</div>
            <div class="inputErrorMessage" *ngIf="loginForm.get('password')?.errors?.['minlength']">MinLengthOfPass is 6</div>
          </ng-container>
        </li>
        <a class="text-right text-[12px] font-medium">Forgot Password?</a>
        <button class="w-full h-11 drawer-button bg-neutral-black-B900" (click)="signin()" [disabled]="!loginForm.valid">Submit</button>
        <a class="text-center text-[14px] text-neutral-black-B500" routerLink="/register">Don't have an account? Sign up!</a>
      </form>
    </div>
  </div>
</div>
